mtcnn==0.1.0
tensorflow-cpu==2.7.0
keras==2.4.3
keras-vggface==0.6
keras_applications==1.0.8
opencv-contrib-python
PyYAML
tqdm
scikit-learn
streamlit
bing-image-downloader

#local pacages-
-e .
